/*
Credit: http://www.templatemo.com
*/

/* 
Garden Template 
http://www.templatemo.com/preview/templatemo_240_garden 
*/

/* #endregion */
/* #region Card */
/* Card */
card {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: center;
}
.card:hover {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.card .img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
  height: auto;
  max-height: 25px;
  width: auto;
  max-width: 25px;
}
.card .index {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0 10px;
}

.card .details {
  position: relative;
}

/* #endregion */
/* #region cards slider */
.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.cards-slider-wrapper .card {
  flex: 1;
  min-width: 200px;
  position: relative;
  top: 50%;
  left: 50%;

  margin-left: 20px;
  margin-right: 20px;
}

.cards-slider-wrapper .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid#a1e2d4;
  border-radius: 10px;
  padding: 5px;
  width: 900px;
  height: 650px;
  margin-left: 20px;
  margin-right: 20px;
}

.cards-slider {
  position: absolute;
  max-width: 226px;
  margin: 20 auto;
}

/* #endregion */

body {
  margin-left: 150px;
  padding: 0;
  line-height: 1.5em;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
}
div#funfact {
  margin-left: 150px;
  padding: 0;
  line-height: 1.5em;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  background: #1f202a url(./images/templatemo_body.jpg) top center no-repeat;
}
a:link,
a:visited {
  color: #fff1cc;
  text-decoration: underline;
  font-weight: normal;
}
a:active,
a:hover {
  color: #999900;
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  margin: 0px;
  padding: 0px;
  border: none;
}

button {
  display: inline-block;
  text-align: center;
  margin: auto;
}
.button a:hover {
  background: url(./images/templatemo_button_hover.png) no-repeat;
}

.button1 {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 20px 0 0 42px;
  background: url(./images/templatemo_button2.png) no-repeat;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 600px;
  margin-right: 20px;
}
.button1 a:hover {
  background: url(./images/templatemo_button_hover.png) no-repeat;
}

.button2 {
  display: inline-block;
  width: 70px;
  height: 70px;
  padding: 20px 0 0 42px;
  background: url(./images/templatemo_button.png) no-repeat;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.button2 a:hover {
  background: url(./images/templatemo_button_hover.png) no-repeat;
}

h1 {
  font-size: 34px;
  color: #75bcad;
  width: 1500px;
  white-space: normal;
  margin: 70px 0 50px 50px;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  color: #9ddfd0;
  margin: 40px 40px 20px 0px;
  padding: 0;
  text-align: left;
}
h3 {
  font-size: 21px;
  color: #f9f2d5;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

h4 {
  font-size: 21px;
  color: #f9f2d5;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: left;
}

h5 {
  font-size: 24px;
  color: #9ddfd0;
  margin: 70px 70px 20px 0px;
  padding: 0;
  text-align: center;
}

.image_wrapper {
  border: 1px solid #cccccc;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  background: #fff;
}
