@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.brand {
  font-family: "Pacifico", cursive;
  font-size: x-large;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center {
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.ebayaAnimals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 1500px) {
  .modal-dialog {
    max-width: 1500px !important;
  }
}

.card {
  min-width: auto !important;
  width: 600px !important;
}

@media (min-width: 1500px) {
  .card-group > .card {
    flex: 1 0;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    min-width: 250px !important;
    padding-bottom: 50px !important;
  }
}

.ebayCategory {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
