.card {
  position: relative;
  top: 25%;
  background-color: aliceblue;
  width: 500px;
  padding: 20px;
  max-width: 80vw;
  height: 70vh;
  box-shadow: 2px 5px 5px 5px rgba(150, 231, 224, 0.5);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.tinderCards_cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.swipe {
  position: absolute;
  top: 28%;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: white;
}
input#zipInput, select#Type  {
  position: absolute;
  top:18%;
  left:30%;
  text-align: center;
  font-size: 18px;
  height: 45px;
}
input, button.find, select {
  border-style: solid;
  border-color: #84E7D9;
  border-radius: 5px;
  border-width: 4px;
}
input:focus, button.find:focus, select:focus {
  outline: none;
  border-style: solid;
  border-color:#85afaa !important; 
  border-radius: 5px;
  border-width: 4px;
}

select#Type {
  left:44%;
}
button#petSelect {
  left:54%;
  
}
button#showSaved {
  left:64%;  
}
button#petSelect, button#showSaved{
  font-weight: bold;
  top: 18%;
  position: absolute;
  font:sans-serif;
  font-size: 18px;
  height: 45px;
  background-color: #84E7D9;
  border-color: #84E7D9;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

div#movingImages img {
  opacity: 50%;
  height: 120px;
  border-radius: 60px;
  position: absolute;
  border: solid 2px #eee;
}
img#dog1{
  position: relative;
  animation-duration: 10s;
  animation-name: dog1;
  animation-iteration-count: infinite;

}
@keyframes dog1 {
  0%   { left:55%; top:25%;}
  25%  { left:50%; top:50%;}
  50%  { left:70%; top:70%;}
  75%  {left:50%x; top:40%;}
  100% {left:55%; top:25%;}
}
img#dog2{
  position: relative;
  animation-duration: 15s;
  animation-name: dog2;
  animation-iteration-count: infinite;
}
@keyframes dog2 {
  0%   { left:20%; top: 25%;}
  25%  { left:30%; top:30%;}
  35%  { left:40%; top:40%;}
  50%  { left:50%; top:70%;}
  75%  {left:90%x; top:50%;}
  100% {left:20%; top:25%;}
}

img#dog3{
  position: relative;
  animation-duration: 17s;
  animation-name: dog3;
  animation-iteration-count: infinite;
}
@keyframes dog3 {
  0%   { left:85%; top:20%;}
  25%  { left:60%; top:70%;}
  50%  { left:35%; top:44%;}
  75%  {left:70%x; top:80%;}
  100% {left:85%; top:20%;}
}
img#cat1{
  position: relative;
  animation-duration: 29s;
  animation-name: cat1;
  animation-iteration-count: infinite;
}
@keyframes cat1 {
  0%   { left:80%; top:92%;}
  25%  { left:70%; top:78%;}
  50%  { left:50%; top:64%;}
  75%  {left:48%x; top:56%;}
  100% {left:80%; top:92%;}
}
img#cat2{
  position: relative;
  animation-duration: 17s;
  animation-name: cat2;
  animation-iteration-count: infinite;
}
@keyframes cat2 {
  0%   { left:50%; top:50%;}
  25%  { left:20%; top:58%;}
  50%  { left:40%; top:34%;}
  75%  {left:8%x; top:36%;}
  100% {left:50%; top:50%;}
}
img#cat3{
  position: relative;
  animation-duration: 13s;
  animation-name: cat3;
  animation-iteration-count: infinite;
}
@keyframes cat3 {
  0%   { left:60%; top:40%;}
  25%  { left:80%; top:58%;}
  50%  { left:80%; top:32%;}
  75%  {left:80%x; top:56%;}
  100% {left:60%; top:40%;}
}
