.card {
  position: relative;
  top: 25%;
  background-color: aliceblue;
  width: 500px;
  padding: 20px;
  max-width: 80vw;
  height: 70vh;
  box-shadow: 2px 5px 5px 5px rgba(150, 231, 224, 0.5);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.tinderCards_cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.swipe {
  position: absolute;
  top: 28%;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: white;
}
input#zipInput, select#Type  {
  position: absolute;
  top:18%;
  left:30%;
  text-align: center;
  font-size: 18px;
  height: 45px;
}
input, button, select {
  border-style: solid;
  border-color: #84E7D9;
  border-radius: 5px;
  border-width: 4px;
}
input:focus, button:focus, select:focus {
  outline: none;
  border-style: solid;
  border-color:#85afaa !important; 
  border-radius: 5px;
  border-width: 4px;
}

select#Type {
  left:44%;
}
button#petSelect {
  left:54%;
  
}
button#showSaved {
  left:64%;  
}
button#petSelect, button#showSaved{
  font-weight: bold;
  top: 18%;
  position: absolute;
  font:sans-serif;
  font-size: 18px;
  height: 45px;
  background-color: #84E7D9;
  border-color: #84E7D9;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
