nav.bg-light {
    background-color: white !important;
    border-bottom: solid 3px #F2774A;
    
}

.nav-link{
    display: block;
    background-position: center top;
    background-repeat: no-repeat;
    line-height: 105px;
    top:20px;
    height:48px;
    padding:5px;
}
.nav-link#find {
    background-image: url("tindericon.png");
}
.nav-link#ebay {
    background-image: url("buyicon.png");
}
.nav-link#maps {
    background-image: url("mapsicon.png");
}
.nav-link#funfact {
    background-image: url("funfacticon.png");
}

